DATABASE_URL="file:./dev.db"
API_HOST="0.0.0.0"
API_PORT="4001"
WEB_APP_URL="http://localhost:3000"
JWT_SECRET="change-this-dev-secret"
SMS_CONFIG_ENCRYPTION_KEY="change-this-sms-encryption-secret"
SESSION_COOKIE_NAME="wikiacc_session"
COOKIE_SECURE="false"
JIBIT_ENABLED="false"
JIBIT_API_KEY=""
JIBIT_SECRET_KEY=""
JIBIT_BASE_URL="https://napi.jibit.ir/ppg/v3"
JIBIT_CALLBACK_URL="http://localhost:4001/api/v1/payments/jibit/callback"
JIBIT_RECONCILE_MINUTES="20"
JIBIT_RECONCILE_INTERVAL_SECONDS="60"
ADMIN_SEED_EMAIL="admin@wikiacc.local"
ADMIN_SEED_PASSWORD="admin123456"
